<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spotify Automatization</title>
  </head>
  <style>
    body {
      text-align: center;
    }
    table,
    td,
    tr {
      display: inline-table;
      margin: auto;
    }
    td {
      width: 30%;
    }
    @media screen and (max-width: 845px) {
      table,
      td,
      tr {
        display: block;
        margin: auto;
      }
      table {
        width: min-content;
      }
      td {
        width: min-content;
      }
    }
  </style>
  <body>
    <h2>
      Track <b id="currently_playing">None</b> momentálně hraje na zařízení
      {{active_device}}
    </h2>
    <img src="{{cover_of_track}}" alt="" width="200" id="cover" /><br />
    <table>
      <tr>
        <td>
          <form class="grid" action="/spotify/run_spotify" method="GET">
            <label for="name"><h2>Co chceš zahrát:</h2></label>
            <label for="">s pro písničku</label><br />
            <label for="">ar pro umělce</label><br />
            <label for="">al pro album</label><br />
            <label for="">p pro playlist</label><br />
            <label for="">f pro přidání písničky do fronty</label><br /><br />

            <input type="text" id="name" name="name" /><br /><br />
            <label for="device"><h2>Zařízení</h2></label>
            <select name="device" id="device" style="min-width: 150px">
              <option value="" selected="selected">-</option>
              {%for device in devices_name%}
              <option value="{{device}}">{{device}}</option>
              {%endfor%}
            </select>
            <br /><br />
            <input class="file_submit" type="Submit" value="Provést" />
          </form>
        </td>
        <td>
          <form action="/spotify/change_volume" method="GET">
            <label for="volume"><h2>Změna hlasitosti:</h2></label>
            <label for="current_volume"
              >Reproduktor má právě hlasitost - {{volume_percent}}%</label
            ><br /><br />
            <label for="">Změnit hlasitost na </label
            ><input
              type="number"
              min="1"
              max="100"
              id="desired_volume"
              name="desired_volume"
            />
            <br /><br /><br /><br /><br /><br />
            <label for="device"><h2>Zařízení</h2></label>
            <select name="device" id="device" style="min-width: 150px">
              <option value="" selected="selected">-</option>
              {%for device in devices_name%}
              <option value="{{device}}">{{device}}</option>
              {%endfor%}
            </select>
            <br /><br />
            <input class="file_submit" type="submit" value="Změnit hlasitost" />
          </form>
        </td>
        <td>
          <form action="/spotify/add_recomended_songs_to_queue" method="POST">
            <label for=""><h2>Přidat doporučené písničky do fronty</h2></label>
            <label for="">Kolik písniček chceš přidat: </label>
            <br /><br />
            <input
              type="number"
              min="1"
              max="100"
              id="num_to_queue"
              name="num_to_queue"
            /><br /><br /><br /><br /><br />
            <label for="device"><h2>Zařízení</h2></label>
            <select name="device" id="device" style="min-width: 150px">
              <option value="" selected="selected">-</option>
              {%for device in devices_name%}
              <option value="{{device}}">{{device}}</option>
              {%endfor%}
            </select>
            <br /><br />
            <input
              class="file_submit"
              type="submit"
              value="Přidat písničky do fronty"
            />
          </form>
        </td>
      </tr>
    </table>
    <script>
      function startLiveUpdate() {
        const textTrackName = document.getElementById("currently_playing");
        const trackCover = document.getElementById("cover");

        setInterval(function () {
          fetch("live_update")
            .then(function (response) {
              return response.json();
            })
            .then(function (data) {
              textTrackName.textContent = data.name;
              trackCover.src = data.cover;
            })
            .catch(function (error) {
              console.log(error);
            });
        }, 5000);
      }

      document.addEventListener("DOMContentLoaded", function () {
        startLiveUpdate();
      });
    </script>
  </body>
</html>
