/__pycache__
/test
/.vscode
web/modules/__pycache__
web/modules/Spotify/__pycache__
web/modules/wake_on_lan/__pycache__
env
web/Spotify/__pycache__
web/Spotify/migrations/__pycache__
modules/voice_assistent/voice.mp3
web/web/__pycache__
web/modules/Spotify/tekore.cfg
tekore.cfg
web/cal_reminders/__pycache__
web/cal_reminders/migrations/__pycache__
