/tekore.cfg
/testing.py
/__pycache__
/test
/.vscode
web/modules/__pycache__
web/modules/Spotify/__pycache__
web/modules/wake_on_lan/__pycache__
venv
web/Spotify/__pycache__
web/modules/voice_assistent/voice.mp3