anyio==3.5.0
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
colorama==0.4.4
Flask==2.0.2
h11==0.12.0
httpcore==0.14.5
httpx==0.21.3
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
requests==2.27.1
rfc3986==1.5.0
sniffio==1.2.0
tekore==4.2.0
urllib3==1.26.8
wakeonlan==2.1.0
Werkzeug==2.0.2