body {
  text-align: center;
}
table,
td,
tr {
  display: inline-table;
  margin: auto;
}
td {
  width: 30%;
}
@media screen and (max-width: 845px) {
  table,
  td,
  tr {
    display: block;
    margin: auto;
  }
  table {
    width: min-content;
  }
  td {
    width: min-content;
  }
}
