<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <title>Spotify Automatization</title>

    <style>
      body {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <form class="grid" action="/run_spotify" method="POST">
      <label for="name"><h2>Co chceš zahrát:</h2></label>
      <label for="">s pro písničku</label><br />
      <label for="">ar pro umělce</label><br />
      <label for="">al pro album</label><br />
      <label for="">p pro playlist</label><br />
      <label for="">f pro přidání písničky do fronty</label><br /><br />

      <input type="text" id="name" name="name" /><br /><br />
      <label for="device"><h2>Zařízení</h2></label>
      <select name="device" id="device" style="min-width: 150px">
        <option value="" selected="selected">-</option>
        {%for i in range(num_of_devices)%}
          <option value={{devices_name[i]}}>{{devices_name[i]}}</option>
        {%endfor%}
      </select>
        <br /><br>
      <input class="file_submit" type="Submit" />
    </form>
    <br />
    <form action="/change_volume" method="POST">
      <label for="volume"><h2>Změna hlasitosti:</h2></label><br />
      <label for="current_volume"
        >Reproduktor má právě hlasitost - %</label
      ><br>
      <label for="">Změnit hlasitost na </label><input type="number" min=1 max=100 id="current_volume" name="current_volume" >
      <label for="device"><h2>Zařízení</h2></label>
      <select name="device" id="device" style="min-width: 150px">
        <option value="" selected="selected">-</option>
        {%for i in range(num_of_devices)%}
          <option value={{devices_name[i]}}>{{devices_name[i]}}</option>
        {%endfor%}
      </select>
        <br /><br>
      <input class="file_submit" type="Submit" />
    </form>
    </form>
  </body>
</html>
