@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.animation-loading-spotify {
		animation: loading-spotify 5s infinite;
	}

	@keyframes loading-spotify {
		0.0% {
			transform: translate(0vh, 0vh);
		}
		100% {
			transform: translate(0vh, 0vh);
		}
		19.5% {
			transform: translate(40vh, 60vh);
		}
		39.6% {
			transform: translate(60vh, 40vh);
		}
		60.1% {
			transform: translate(30vh, 20vh);
		}
		79.9% {
			transform: translate(-30vh, 0vh);
		}
	}

	.animation-colapsable-icon-active {
		animation: colapse-animation-active 1s none;
		animation-fill-mode: forwards;
	}
	@keyframes colapse-animation-active {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(180deg);
		}
	}

	.animation-colapsable-icon-inactive {
		animation: colapse-animation-inactive 1s none;
		animation-fill-mode: forwards;
	}
	@keyframes colapse-animation-inactive {
		from {
			transform: rotate(180deg);
		}
		to {
			transform: rotate(0deg);
		}
	}
}
